body {
    /* Capa suave para asegurar que el texto se lea en cualquier pantalla */
    background:
        linear-gradient(var(--bg-overlay), var(--bg-overlay)), /* 1. Top: Overlay */
        url('/assets/background.webp'), /* 2. Middle-top: Image */
        var(--bg-body); /* 3. Bottom: Solid background color from theme */

    background-size: cover, cover, auto; /* Adjust background-size for each layer */
    background-position: center, center, 0 0; /* Adjust background-position for each layer */
    background-attachment: fixed, fixed, fixed; /* Adjust background-attachment for each layer */
    margin: 0;
    min-height: 100vh;
}

/* Estilos para párrafos - más flexibles */
p {
    color: var(--p-text-color);
    font-size: 1.1rem;
    text-shadow: 2px 2px 4px var(--text-shadow-color); /* Sombra suave para que las letras resalten más */
}
